ACTION=="add", KERNEL=="sd?", SUBSYSTEM=="block", RUN+="/usr/bin/diskmount add"
ACTION=="remove", KERNEL=="sd?", SUBSYSTEM=="block", RUN+="/usr/bin/diskmount remove"
